body { 
    font-family: 'Della Respira', serif;

    background-color : #305252;
    margin: 30px;

    
}

h1 {
    text-align: center;
}

.nav {
    display: flex;
    flex-direction: row;
    background-color: #373E40;
    list-style: none; 
    margin: 0px;
}

.nav li {
    display: inline;
    margin: 20px;
    padding: 5px;
    font-size: 14pt;  
}

.nav li a {
    color: #8F7E4F;
}

.nav li a :hover{
    color: black;
    background-color: #8F7E4F;
}


.places {
    border-radius: 5px;
    height: 50%;
    margin: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: black;
    background-color: #cac9c6;
    width: 50%;
    
}

.journal {
    border-radius: 5px;
    height: 50%;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: black;
    background-color: #cac9c6;
    width: 50%;
}


.button {
    background-color: #8F7E4F;
    margin: 15px;
    padding: 3px;
}


.main {
    display: flex;
    flex-direction: row;
    
}

.grid-container {
    display: grid;
    grid-template-areas: 
    'bar list_1 list_2';  
    grid-template-columns: 10% 45% 45%;  
}


.grid-item-1 {grid-area: list_1;}
.grid-item-2 {grid-area: list_2;}

.grid-item-3 {
    grid-area: bar;
    background-color: #cbd1d0;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;

}

.grid-item-1, .grid-item-2 {
    border-radius: 5px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    color: black;
    background-color: #cac9c6;
}

.grid-item-1 > h1, .grid-item-2 > h1 {
    border: black solid 5px;
}

.journal-entry {
    background-color: #cac9c6;

}

hr {
    border: white solid 1px;
}