{% extends "base.html" %}

{% block content %}
<h2>Visited</h2>
<div class="visited">
    {% for place in visited: %}
    <div class="name">
        <h2>{{place.name}}</h2>
    </div>
    <div class="country">
        <h4>{{place.country.name}}</h4>
    </div>
    <hr>
    
    <!-- <i class="far fa-file-alt fa-3x"></i>
    <i class="far fa-edit fa-3x"></i>
    <i class="fas fa-trash-alt fa-3x"></i> -->

    {% endfor %}
</div>
<h2>Not Visited</h2>
<div class="not-visited">
    {% for place in not_visited: %}
    <div class="name">
        <h2>{{place.name}}</h2>
    </div>
    <div class="country">
        <h4>{{place.country.name}}</h4>
    </div>
    <hr>
    {% endfor %}
</div>


{% endblock %}