{% extends "base.html" %}

{% block content %}
<h1> <i class="fas fa-clipboard-check"></i> Visited <i class="fas fa-clipboard-check"></i> </h1>
<div class="visited">
    {% for place in visited: %}
    <div class="name">
        <h2>{{place.name}}</h2>  
    </div>
    <div class="country">
        <h4>{{place.country.name}}</h4>
    </div>
    <a href="/places/{{place.id}}"><button class="button">Details</button></a> 
    <hr>
    
   
    <!-- <i class="far fa-edit fa-3x"></i>
    <i class="fas fa-trash-alt fa-3x"></i> -->

    {% endfor %}
</div>
<h1> <i class="fas fa-clipboard-list"></i> Not Visited <i class="fas fa-clipboard-list"></i></h1>
<div class="not-visited">
    {% for place in not_visited: %}
    <div class="name">
        <h2>{{place.name}}</h2>
    </div>
    <div class="country">
        <h4>{{place.country.name}}</h4>
    </div>
    <hr>
    <a href="/places/{{place.id}}"><button class="button">Details</button></a> 
    {% endfor %}
</div>


{% endblock %}