{% extends "base.html" %}

{% block content %}
<div class="form">
<form action="/places" method="post">
    <div>
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" placeholder="Name" required autofocus>
    </div>
    <div>
        <label for="country">Country:</label>
        <input type="text" id="country" name="country" placeholder="Country" required autofocus>
    </div>
    <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="description" required autofocus>
    </div>
    <div>
        <label for="visited">Visited:</label>
        <select name="visited" id="visited">
            <option value="true" >Yes</option>
            <option value="false">Not Yet</option>
        </select>
    </div>
   

    <button class="button" type="submit">Add Place</button>

</form>
</div>
{% endblock %}