{% extends "base.html" %}

{% block content %}

<div class="countries">
    {% for country in all_countries %}
        <div class="country-name">
            <h2>{{country.name}}</h2>  
        </div>
    <a href="/countries/{{country.id}}"><button class="button">Places in Country</button></a>

    <a href="/countries/{{country.id}}/edit"><button class="button">Edit Country</button></a>
    <br>
    <a class="delete-country" href="/countries/{{country.id}}/delete">Delete Country and All It's Places</a> 
    <hr>
    {% endfor %}
</div>



{% endblock %}