{% extends "base.html" %}

{% block content %}
    <h1>Welcome to The Haunted Bucket List!</h1>
<main class="main">
    <div class="places">
        <h2>Bucket List</h2>
        <p class="home-text">See all the places you've been and and add more places to the bucket list.</p>
        <a href="/places"><button class="button">See List</button></a>

    </div> 

    <div class="journal">
        <h2>Journal</h2>
        <p>Keep notes about your visits and record your ghostly encounters! </p>
        <a href="/journal"><button class="button">Go To Journal</button></a>

    </div>
</main>


{% endblock %}